# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Edabit.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\omere\Documents\Uyelik Sistemi\Edabit\.idea\.idea.Edabit\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
